<!DOCTYPE html>
<html>
<head>
  <title>blackwood.io</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:400,600|Source+Code+Pro:900" rel="stylesheet">
  <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <main id="main">
    <h1 class="main-title">blackwood</h1>
    <p class="about-block">producer ♦ hornist @ <a href="http://facebook.com/thenewlimits">The New Limits</a> ♦ web guy </p>
    <aside class="post box">
      <p>Currently <b>ACCEPTING</b> new web projects</p>
      <a href="/quote"><h3>Get a quote!</h3></a>
    </aside>
    <div class="soundcloud">
      <%= File.read("src/includes/soundcloud.html") %>
    </div>
    <div class="show-row">
      <% upcoming.each_with_index do |show, i| %>
        <aside class="show post box rowbox">
          <a href="<%= show["link"] %>" class="show-cover"></a>
          <h3><%= show["today"] ? "today's" : timesigs[i] %> show</h3>
          <h4><%= show["act"] ? show["act"] : "solo show" %></h4>
          <span>on</span>
          <div class="date">
            <span class="month code"><%= show["month"] %></span>
            <span class="day code"><%= show["date"].day %></span>
          </div>
          <div class="at-sym">@</div>
          <div class="venue"><%= show["venue"] %></div>
          <div class="location">in <b><%= show["city"] + ", " + show["state"] %></b></div>
          <% if show["future"] || show["today"] %>              
            <div class="price phat"><%= show["price"] ? "cover is $" + show["price"].to_s : "no cover!" %></div>
          <% else %>
            <div class="price phat"><%= show["sentiment"] %></div>
          <% end %>
        </aside>
      <% end %>
    </div>
    <%= File.read("src/includes/social.html") %>
    <h1 class="main-title">what's next?</h1>
    <aside class="post box">
      <p>Wouldn't you like to know?</p>
      <p>Then you should...</p>
      <h3>Subscribe!</h3>
      <%= File.read("src/includes/mailchimp.html") %>
    </aside>
  </main>
  <script type="text/javascript" src="./main.js"></script>
  <%= File.read("src/includes/ga.html") %>
</body>
</html>
