<!DOCTYPE html>
<html>
<head>
  <title>BAZE BLACKWOOD</title>
  <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <main id="main">
    <h1 class="main-title center center-column">Baze Blackwood</h1>
    <!-- <div class="insta"><img src="dist/insta/last.jpg" class="insta-img"></div> -->


    <div class="container center-column">
      <div class="grid">
        <div class="grid__col--1-of-2 center grid__col">
          <p class="about-block">producer <span>•</span> musician <span>•</span> web guy </p>
          <img width="300" height="300" src="https://raw.githubusercontent.com/blackwood/files/master/avatar2017.jpg" />
          <%= File.read("src/includes/social.html") %>
        </div>
        <div class="grid__col--1-of-2 grid__col grid__col--am">
          <div class="vc-item">
            <p>Making websites for bands.</p>
            <p>Makin' <a href="https://soundcloud.com/bazeblackwood">music</a> too.
            <p>Apprentice at Plaid Dog Studio</p>
            <p>Follow on <a href="https://twitter.com/bazeblackwood">Twitter</a>, duh.</p>
          </div>
        </div>
      </div>
    </div>

<!--     <aside class="post box">
      <p>Currently <b>ACCEPTING</b> new web projects</p>
      <a href="/quote"><h3>Get a quote!</h3></a>
    </aside> -->
    <div class="soundcloud box center-column">
      <p class="center"><b>Listen:</b> The raw mix of Oceans (Sink or Float) will only be up until the end of July!</p>
      <%= File.read("src/includes/soundcloud.html") %>
    </div>
    <!--div class="show-row">
      <% upcoming.each_with_index do |show, i| %>
        <aside class="show post box rowbox">
          <a href="<%= show["link"] %>" class="show-cover"></a>
          <h3 class="hug"><%= show["today"] ? "today's" : timesigs[i] %> show</h3>
          <h4 class="hug"><%= show["act"] ? show["act"] : "solo show" %></h4>
          <span>on</span>
          <div class="date">
            <span class="hug month code"><%= show["month"] %></span>
            <span class="hug day code"><%= show["date"].day %></span>
          </div>
          <div class="at-sym">@</div>
          <div class="venue"><%= show["venue"] %></div>
          <div class="location">in <b><%= show["city"] + ", " + show["state"] %></b></div>
          <% if show["future"] || show["today"] %>              
            <div class="price phat"><%= show["price"] ? "cover is $" + show["price"].to_s : "no cover!" %></div>
          <% else %>
            <div class="price phat"><%= show["sentiment"] %></div>
          <% end %>
        </aside>
      <% end %>
    </div-->
    <h4 class="center">what else?</h4>
    <aside class="post box center-column">
      <p class="center">Get updates, essays and lessons:</p>
      <%= File.read("src/includes/mailchimp.html") %>
    </aside>
  </main>
  <script type="text/javascript" src="./main.js"></script>
  <%= File.read("src/includes/ga.html") %>
</body>
</html>
