<!DOCTYPE html>
<html>
<head>
  <title>blackwood.io</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:400,600|Source+Code+Pro:900" rel="stylesheet">
  <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <main id="main">
    <h1 class="main-title">blackwood</h1>
    <aside class="show post">
      <a href="show-cover"></a>
      <h3><%= shows.last["future"] ? "next" : "last" %> show</h3>
      <span>on</span>
      <div class="date">
        <span class="month code"><%= shows.last["month"] %></span>
        <span class="day code"><%= shows.last["date"].day %></span>
      </div>
      <div class="at-sym">@</div>
      <div class="venue"><%= shows.last["venue"] %></div>
      <div class="location">in <b><%= shows.last["city"] + ", " + shows.last["state"] %></b></div>
      <% if shows.last["future"] %>
        <div class="price phat">tickets are <%= shows.last["price"] ? "$" + shows.last["price"].to_s : "free" %>!</div>
      <% end %>
    </aside>
    <h1 class="main-title">what's next?</h1>
    <aside class="post">
      <p>Wouldn't you like to know?</p>
      <p>Then you should...</p>
      <h3>Subscribe!</h3>
      <%= File.read("src/includes/mailchimp.html") %>
    </aside>
  </main>
  <script type="text/javascript" src="./main.js"></script>
</body>
</html>
